.button {


  background-color:rgba(0,0,0,0);
  color: black;
  border: none;
  border-radius:10px;
  padding:5px;
  min-height:30px;

  font-size: 11px;
  width: 25%;
}

.button:hover{


  background-color:rgba(0,0,0,0);
  color: black;
  border:1px #FFA07A solid;
  border-radius:10px;
  padding:5px;
  min-height:30px;

  font-size: 11px;
  width: 25%;
}
.button_selected{


  background-color:rgba(0,0,0,0);
  color: black;
  border:1px #FFA07A solid;
  border-radius:10px;
  padding:5px;
  min-height:30px;

  font-size: 11px;
  width: 25%;
}


.buttontime {


  background-color:rgba(0,0,0,0);
  color: black;
  border: none;
  border-radius:10px;
  padding:5px;

  font-size: 11px;
  width:13%;
}

.buttontime:hover{


  background-color:rgba(0,0,0,0);
  color: black;
  border:1px #FFA07A solid;
  border-radius:10px;
  padding:5px;
  min-height:30px;

  font-size: 11px;
  width:13%;
}
.buttontime_selected{


  background-color:rgba(0,0,0,0);
  color: black;
  border:1px #FFA07A solid;
  border-radius:10px;
  padding:5px;
  min-height:30px;

  font-size: 11px;
  width: 13%;
}

.btn_botarea {
  background-color:rgba(0,0,0,0);
  color: black;
  border: none;
  border-radius:10px;
  padding:5px;
  min-height:30px;

  font-size: 11px;
  width: 25%;
}

.btn_botarea:hover{


  background-color:rgba(0,0,0,0);
  color: black;
  border:1px #FFA07A solid;
  border-radius:10px;
  padding:5px;
  min-height:30px;

  font-size: 11px;
  width: 25%;
}




.button_selected{


  background-color:rgba(0,0,0,0);
  color: black;
  border:1px #FFA07A solid;
  border-radius:10px;
  padding:5px;
  min-height:30px;

  font-size: 11px;
  width: 25%;
}

.btn_botarea_selected{


  background-color:rgba(0,0,0,0);
  color: black;
  border:1px #FFA07A solid;
  border-radius:10px;
  padding:5px;
  min-height:30px;

  font-size: 11px;
  width: 25%;
}