<!DOCTYPE html>
<html layout:decorate="~{mobile_layout}"> <!-- layout.html 상속-->
<link rel="stylesheet" href="/css/reserve_list.css">
<div layout:fragment="content">
  

      <form th:action="@{/reservation/list_all}" method="get">
        <label for="reserve_date">예약 날짜:</label>
        <input type="date" id="reserve_date" name="reserve_date" th:value="${reserve_date}">
        <button type="submit">검색</button>
      </form>
      <div th:each="details, iterStat : ${reserveDetails}">
        <th:block th:if="${iterStat.index == 0 or !#dates.format(details.reserveDate, 'yyyy-MM-dd').equals(#dates.format(reserveDetails[iterStat.index - 1].reserveDate, 'yyyy-MM-dd'))}">
          <div class="reserve-date-header" th:text="${#dates.format(details.reserveDate, 'yyyy-MM-dd')}"></div>
        </th:block>
        <section id="reserve-history" class="reserve-history-section">
          <div class="reserve-info">
            
            <div class="reserve-info-detail">
              <span th:text="|식당 이름: ${details.restaurantName}|"></span><br>
              <div class="reserve-time" th:text="${'시간 : ' + details.reserveTime + ':00 '}"></div>
              <span th:text="|인원수: ${details.reserve.person}|"></span>
              <input type="hidden" th:value="${details.reserve.custno}" name="custno">
            </div>
            <div class="reservation-actions">
              <a th:attr="onclick=|delete_check(${details.reserve.reserveno})|">
                <img src="/cate/images/delete.png" class="icon">
              </a>
            </div>
          </div>
        </section>
      </div>

	<script>
    function delete_check(reserveno){
      if (confirm("예약 취소 하시겠습니까?") == true){ // 확인
        let f = document.createElement('form');
        let obj1 = document.createElement('input');
        obj1.type = 'hidden';
        obj1.name = 'reserveno';
        obj1.value = reserveno;
        f.appendChild(obj1);
        f.setAttribute('method', 'post');
        f.setAttribute('action', '/reservation/delete');
        document.body.appendChild(f);
        f.submit();
      } else { // 취소
        return;
      }
    }
</script>
<script type="text/javascript">
  window.onload = function() {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('message') === 'success') {
      alert('예약이 완료되었습니다.');
    }
  }
</script>
</div>
</html>
