<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.mvc.cate.CateDAOInter"> <!-- SB가 자동으로 구현하여 연동하는 interface -->
  <insert id="create" parameterType="dev.mvc.menu.MenuVO"> <!-- public int create(CateVO cateVO) {...-->
  	INSERT INTO MENU(menuno, name, price, restno, image)
	VALUES (member_seq.nextval, #{name}, #{price}, #{restno}, #{image});
  </insert>
  
  <!-- SQL -> CateVO -> ArrayList<CateVO> return -->
  <select id="list_all" resultType="dev.mvc.menu.MenuVO">
    SELECT menuno, name, price, restno, image
	FROM menu
	ORDER BY restno ASC;
  </select>

  
</mapper>



