.section_name {
  font-weight: bold;
  font-size: 25px;
}

#wrap-horizontal {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  cursor: grab;
}

#wrap-horizontal::-webkit-scrollbar {
  display: none;
}

#wrap-horizontal {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.image-container {
  display: inline-block;
  margin: 10px;
  scroll-snap-align: start;
}

.rest-area{
  font-size: 12px ;
}
.restinfo {
  position: absolute;
  bottom: 10px; /* 약간 위로 올림 */
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  color: white;
  font-size: 0.8rem;
  padding: 3px;
  box-sizing: border-box;
  text-align: center; /* 텍스트를 가운데 정렬 */
}
.restinfo > span {
  color: #FFFFFF;
}
.stars {
  position: relative;
  display: inline-block;
  font-size: 0;
}

.stars::before {
  content: '★★★★★';
  font-size: 20px;
  color: #ddd;
}

.full-stars {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #f5c518;
  font-size: 20px;
}

.full-stars::before {
  content: '★★★★★';
}

.rest-area {
  display: block;
  margin-top: 5px;
}
.image-container {
  position: relative;
  margin-right: 10px;
}

.image-container img {
  filter: brightness(0.7);
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}
