/* frontend/src/components/CategoryShortcut.css */

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-item {
  width: 15%; /* 한 줄에 5개씩 배치하므로 20%로 설정 */
  padding: 10px;
  text-align: center;
}

.category-image {
  margin-bottom: 5px;
}

.category-name {
  font-size: 12px;
  font-weight: 700;
}

/* 긴 글씨를 작게 하고, 굵게 설정 */
.category-name.long-text {
  font-size: 9px; /* 폰트 사이즈를 원래 크기로 유지 */
  font-weight: 700; /* 더 진하게 설정 */


}
