/* ver 2.2 2023_1023 */
/* 모든 태그에 적용 */
@font-face {
  font-family: 'TTHakgyoansimUndongjangL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimUndongjangL.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: TTHakgyoansimUndongjangL;
  font-size: 16px;
  margin: 0px; /* top right bottom left */
  padding: 0px;
  color: #555555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    min-height: 100%;
    padding: 0;
}
#wrapper {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	
	padding: 20px;
}
body {
    font-family: Arial, sans-serif;
    max-width: 480px;
    margin: 0 auto !important;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex:0 0 auto;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    float: left;
    width: 33.33%;
    text-align: center;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 0;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}


section {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.wrapper {
    max-width: 480px;
    margin: 0 auto;
    background-color: #fff;
    width: auto;
    position: relative;
    min-height: 100%;
    box-shadow: 0 0 20px #0000000d;
}
.bottom-nav {

    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;

    padding: 20px 0;
  }

  .nav-item {
    text-align: center;
    width: 25%;
    color: #333;
    text-decoration: none;
    flex: 1;
  }

  .nav-item:hover {
    background-color: #f9f9f9;
  }

  .icon {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
  }

  .profile-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav-item span {
    display: block;
    font-size: 12px;
    margin-top: 5px;
  }
  #dock {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 800px) {
  .bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;

    padding: 10px 0;
  }

  .nav-item {
    text-align: center;
    color: #333;
    text-decoration: none;
    flex: 1;
  }

  .nav-item:hover {
    background-color: #f9f9f9;
  }

  .icon {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
  }

  .nav-item span {
    display: block;
    font-size: 12px;
    margin-top: 5px;
  }

}
td{
	text-align: center;
}

#wrapper{
	background-color: white;
	position:relative;
	max-width: 480px;
}
#filter_toggle{
	position:fixed;
	width:60px;
	height:60px;
	bottom:10%;
	right:0;
}
#section1 {
height: 400px;
}

#section1 h2 {
    height: 15%;
    margin: 0;
}

#wrap-vertical {
    height: 85%;
    overflow-x: scroll;
    white-space: nowrap;
}

.image-container {
    display: inline-block;
    height: 70%;
}

.image-container img {
	height: 100%;
}
#wrap-vertical::-webkit-scrollbar {
    display: none;
}
.restinfo {
	height:80px;
	bottom:0;
}
.rest-area {
	font-size: 10px;
}
.section_name{
	font-style: bold;
	font-size: 25px;
}
.btn_botarea{
	min-width: 70px;
	padding: 5px 5px;
}
.vertical_scroll{
    overflow-x: scroll;
    white-space: nowrap;
}
.vertical_scroll::-webkit-scrollbar {
    display: none;
}
.btn_red{
	background-color: rgb(255, 70, 102);
	border-color: rgb(255, 217, 223);
	text-decoration-color: rgb(255,255,255);
}



.nav-item {
  display: inline-block;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



/* 활성화된 상태의 아이콘 변경 */
.nav-item.active.home {
  background-image: url('/images/icon/active_home.svg');
}

.nav-item.active.search {
  background-image: url('/images/icon/search_active.svg');
}

.nav-item.active.favorite {
  background-image: url('/images/icon/favorite_active.svg');
}

.nav-item.active.profile {
  background-image: url('/images/icon/profile_active.svg');
}


.edit-button:hover {
  background-color: #45a049;
}
.restaurant_info {
	display: flex;
	width:100%; 
	height:200px;
}

#fragment-container {
	display:flex;
	flex-direction: column;
	height: 100%;
}
#map-section {
    flex:1 0 50%;
}
#rest-container {
		flex:1 0 50%;
    overflow: hidden; /* 스크롤을 보이지 않도록 설정 */
}
#rest-list-container {
  height: 400px;
  overflow-y: scroll; /* 내부 콘텐츠가 넘칠 경우 스크롤 */
}
.restaurant_info {
  height:100px;
}
#map{
  width:100%;
  min-height:400px;
}

#midarea_div {
	display: flex;
	justify-content: space-around;
	align-content: stretch;
	flex-wrap: wrap;
}
/*
 ㅂ 박스
 */

.star-rating {
  display: flex;
  flex-direction: row-reverse;
}
.star-rating input {
  display: none;
}
.star-rating label {
  font-size: 2rem;
  color: #ddd;
  cursor: pointer;
}
.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #f5c518;
}
.star-rating input:checked ~ label,
.star-rating input:checked ~ label ~ label {
  color: #f5c518;
}