<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">






  <div style="width: 60%; margin: 0px auto "  th:object="${categoryVO}">
  <div class="title_line"  th:text="@{|${categoryVO.name} 카테고리 정보 조회 수정 (*는 필수)|}">  </div>
  <form   id="frm" name="frm" method="post" action="/restaurant/update">
    <div style="align-items: center; display: none;">

      <input class="form-control form-control-sm"  id="categoryno" name="categoryno" th:value="${categoryVO.categoryno}" style=" width: 50%;" readonly></input>

    </div>

    <label>카테고리 이름</label>

    <div style="display: flex; align-items: center;">
      <input class="form-control form-control-sm"  name="name" th:value="${categoryVO.name}" style=" width: 50%;" id='name_msg'></input>




    </div>




    <div class="form-group" style="margin-top: 10px;">
      <label>노출여부</label>
      <select id="categoryno" name="categoryno" class="form-control form-control-sm" style="width: 50%;">
        <!-- 옵션이 여기에 동적으로 추가될 것입니다. -->
      </select>
    </div>


   



  

    <input type="hidden" name="word" th:value="${word}">

    <input type="hidden" name="now_page" th:value="${now_page}">







    <div class="form-group" style="margin-top: 10px;">
      <button type="submit" class="btn btn-primary"  id="btn_send">수정</button>

      <button type="button" class="btn btn-primary" onclick="back()" id="btn_cancel">취소</button>


    </div>
   
<script>
  function back() {
    history.back();
  }
</script>
    <label style="margin-top: 10px;">카테고리 이미지</label>

    <div style="display: flex; ">

    <div style="width: 100%" th:if="${categoryVO.image != null and (categoryVO.image.endsWith('jpg') or categoryVO.image.endsWith('JPG') or categoryVO.image.endsWith('png') or categoryVO.image.endsWith('PNG') or categoryVO.image.endsWith('gif'))}">
      <img th:src="@{|/category/storage/${categoryVO.image}|}" style="width: 15%; height: 50px;">
    </div>

 

  </div>
    <div style="margin-top: 10px;">
      <a style="margin-top: 10px;" class="btns" th:href="@{|./update_img?categoryno=${categoryVO.categoryno}&now_page=${now_page}&word=${word}|}"  id="updateimg">이미지 수정</a>
    </div>
  </form>
</div>


</div>

</html>