<!DOCTYPE html>
<div th:fragment="search_all_fragment"> <!-- <div th:replace=...-->



  <div class="manager-user">
    <table class="manager-user-list" >
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 15%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
    </colgroup>
    <thead>
    <tr class="manager-header">
      <th class="th_bs">선택</th>
      <th class="th_bs">카테고리번호</th>
      <th class="th_bs">순서</th>

      <th class="th_bs">이름</th>
      <th class="th_bs">이미지</th>
      <th class="th_bs">순서</th>
      <th class="th_bs">d</th>
      <th class="th_bs">기타</th>
    </tr>
    </thead>
    <tbody>




    <!-- Iterate over your data -->
    <tr class="manager-data" th:each="categoryVO,status : ${searchlist}">
      <td class="td_bs"><input type="checkbox" name="selectedCategories" th:value="${categoryVO.categoryno}"></td>

      <td  class="td_bs" th:text="${categoryVO.categoryno}" id="categoryno"></td>
      <td class="td_bs" th:text="${num - status.index}"></td>
      <td class="td_bs"><a th:href="@{|/cate/read/${categoryVO.categoryno}?word=${word}&type=${type}&now_page=${now_page}|}" style="display: block;"
                           th:text="${categoryVO.name}"></a></td>

    <td class="td_bs" th:if="${categoryVO.image != null and (categoryVO.image.endsWith('jpg') or categoryVO.image.endsWith('JPG') or categoryVO.image.endsWith('png') or categoryVO.image.endsWith('PNG') or categoryVO.image.endsWith('gif'))}">
      <!--/*@thymesVar id="certifi_image" type=""*/-->
      <img th:src="@{|/category/storage/${categoryVO.image}|}" style="width: 50px; height: 50px;" >
    </td>
      <td class="td_bs" th:text="${categoryVO.seq}"></td>
      <td class="td_bs" th:text="${categoryVO.visible}"></td>

      <td class="td_bs">


        <a href="#" style="text-decoration: none" class="animate__slideOutDown"
           th:attr="onclick=|upbackward('${categoryVO.categoryno}','${categoryVO.name}','${word}','${type}','${now_page}' ,'${num - status.index}')|">
          <img src="/cate/images/decrease.png" class="icon">

        </a>


        <a style="text-decoration: none" href="#" th:attr="onclick=|upforward('${categoryVO.categoryno}','${categoryVO.name}','${word}','${type}','${now_page}' ,'${num - status.index}')|">
          <img src="/cate/images/increase.png" class="icon">
        </a>
        <a style="text-decoration: none" th:href="@{'/cate/update/' + ${categoryVO.categoryno}+ '?word='+${word} + '&now_page='+${now_page}+'&type='+${type}}">
          <img src="/cate/images/update.png" class="icon">
        </a>

        <a style="text-decoration: none" href="#" th:attr="onclick=|deletecate('${categoryVO.categoryno}','${categoryVO.name}','${word}','${type}','${now_page}' ,'${num - status.index}')|">
          <img src="/cate/images/delete.png" class="icon">
        </a>
        <script>
            function deletecate(categoryno, catename, word, type,now_page,num) {
                var name = catename; // categoryVO.name 값 가져오기

                if (confirm(num + "번의 " + name + " 중분류를 삭제하시겠습니까? 삭제하면 복구할 수 없습니다!")) {
                    var form = document.createElement('form');
                    form.method = 'post';
                    form.action = '/cate/delete/' + categoryno;
                    var hiddenField2 = document.createElement('input');
                    hiddenField2.type = 'hidden';
                    hiddenField2.name = 'word'; // 서버에서 사용할 변수 이름
                    hiddenField2.value = word;
                    form.appendChild(hiddenField2);
                    var hiddenField3 = document.createElement('input');
                    hiddenField3.type = 'hidden';
                    hiddenField3.name = 'type'; // 서버에서 사용할 변수 이름
                    hiddenField3.value = type;
                    form.appendChild(hiddenField3);
                    var hiddenField4 = document.createElement('input');
                    hiddenField4.type = 'hidden';
                    hiddenField4.name = 'now_page'; // 서버에서 사용할 변수 이름
                    hiddenField4.value = now_page;
                    form.appendChild(hiddenField4);
                    var hiddenField5 = document.createElement('input');
                    hiddenField5.type = 'hidden';
                    hiddenField5.name = 'num'; // 서버에서 사용할 변수 이름
                    hiddenField5.value = num;
                    form.appendChild(hiddenField5);

                    var hiddenField6 = document.createElement('input');
                    hiddenField6.type = 'hidden';
                    hiddenField6.name = 'name'; // 서버에서 사용할 변수 이름
                    hiddenField6.value = name;
                    form.appendChild(hiddenField6);
                    document.body.appendChild(form);
                    form.submit();
                } else {
                    alert("원래 페이지로 돌아갑니다.");
                }
            }
        </script>
        <script>
            function upforward(categoryno, catename, word, type,now_page,num) {
                var name = catename; // categoryVO.name 값 가져오기

                if (confirm(num + "번의 " + name + " 중분류의 순서를 하나 올리겠습니까?")) {
                    var form = document.createElement('form');
                    form.method = 'post';
                    form.action = '/cate/upforward/' + categoryno;
                    var hiddenField2 = document.createElement('input');
                    hiddenField2.type = 'hidden';
                    hiddenField2.name = 'word'; // 서버에서 사용할 변수 이름
                    hiddenField2.value = word;
                    form.appendChild(hiddenField2);
                    var hiddenField3 = document.createElement('input');
                    hiddenField3.type = 'hidden';
                    hiddenField3.name = 'type'; // 서버에서 사용할 변수 이름
                    hiddenField3.value = type;
                    form.appendChild(hiddenField3);
                    var hiddenField4 = document.createElement('input');
                    hiddenField4.type = 'hidden';
                    hiddenField4.name = 'now_page'; // 서버에서 사용할 변수 이름
                    hiddenField4.value = now_page;
                    form.appendChild(hiddenField4);
                    var hiddenField5 = document.createElement('input');
                    hiddenField5.type = 'hidden';
                    hiddenField5.name = 'num'; // 서버에서 사용할 변수 이름
                    hiddenField5.value = num;
                    form.appendChild(hiddenField5);

                    var hiddenField6 = document.createElement('input');
                    hiddenField6.type = 'hidden';
                    hiddenField6.name = 'name'; // 서버에서 사용할 변수 이름
                    hiddenField6.value = name;
                    form.appendChild(hiddenField6);
                    document.body.appendChild(form);
                    form.submit();
                } else {
                    alert("원래 페이지로 돌아갑니다.");

                }
            }
        </script>

        <script>
            function upbackward(categoryno, catename, word, type,now_page,num) {
                var name = catename; // categoryVO.name 값 가져오기

                if (confirm(num + "번의 " + name + " 중분류의 순서를 하나 내리겠습니까?")) {
                    var form = document.createElement('form');
                    form.method = 'post';
                    form.action = '/cate/upbackward/' + categoryno;
                    var hiddenField2 = document.createElement('input');
                    hiddenField2.type = 'hidden';
                    hiddenField2.name = 'word'; // 서버에서 사용할 변수 이름
                    hiddenField2.value = word;
                    form.appendChild(hiddenField2);
                    var hiddenField3 = document.createElement('input');
                    hiddenField3.type = 'hidden';
                    hiddenField3.name = 'type'; // 서버에서 사용할 변수 이름
                    hiddenField3.value = type;
                    form.appendChild(hiddenField3);
                    var hiddenField4 = document.createElement('input');
                    hiddenField4.type = 'hidden';
                    hiddenField4.name = 'now_page'; // 서버에서 사용할 변수 이름
                    hiddenField4.value = now_page;
                    form.appendChild(hiddenField4);
                    var hiddenField5 = document.createElement('input');
                    hiddenField5.type = 'hidden';
                    hiddenField5.name = 'num'; // 서버에서 사용할 변수 이름
                    hiddenField5.value = num;
                    form.appendChild(hiddenField5);

                    var hiddenField6 = document.createElement('input');
                    hiddenField6.type = 'hidden';
                    hiddenField6.name = 'name'; // 서버에서 사용할 변수 이름
                    hiddenField6.value = name;
                    form.appendChild(hiddenField6);
                    document.body.appendChild(form);
                    form.submit();
                } else {
                    alert("원래 페이지로 돌아갑니다.");

                }
            }
        </script>


        <script>
            function show(categoryno, catename, word, type,now_page,num) {
                var name = catename; // categoryVO.name 값 가져오기

                if (confirm(num + "번의 " + name + " 중분류의 공개 처리 하겠습니까?")) {
                    var form = document.createElement('form');
                    form.method = 'post';
                    form.action = '/cate/show/' + categoryno;
                    var hiddenField2 = document.createElement('input');
                    hiddenField2.type = 'hidden';
                    hiddenField2.name = 'word'; // 서버에서 사용할 변수 이름
                    hiddenField2.value = word;
                    form.appendChild(hiddenField2);
                    var hiddenField3 = document.createElement('input');
                    hiddenField3.type = 'hidden';
                    hiddenField3.name = 'type'; // 서버에서 사용할 변수 이름
                    hiddenField3.value = type;
                    form.appendChild(hiddenField3);
                    var hiddenField4 = document.createElement('input');
                    hiddenField4.type = 'hidden';
                    hiddenField4.name = 'now_page'; // 서버에서 사용할 변수 이름
                    hiddenField4.value = now_page;
                    form.appendChild(hiddenField4);
                    var hiddenField5 = document.createElement('input');
                    hiddenField5.type = 'hidden';
                    hiddenField5.name = 'num'; // 서버에서 사용할 변수 이름
                    hiddenField5.value = num;
                    form.appendChild(hiddenField5);

                    var hiddenField6 = document.createElement('input');
                    hiddenField6.type = 'hidden';
                    hiddenField6.name = 'name'; // 서버에서 사용할 변수 이름
                    hiddenField6.value = name;
                    form.appendChild(hiddenField6);
                    document.body.appendChild(form);
                    form.submit();
                } else {
                    alert("원래 페이지로 돌아갑니다.");

                }
            }
        </script>

        <script>
            function hide(categoryno, catename, word, type,now_page,num) {

                var name = catename; // categoryVO.name 값 가져오기

                if (confirm(num + "번의 " + name + " 중분류의 숨김 처리 하겠습니까?")) {
                    var form = document.createElement('form');
                    form.method = 'post';
                    form.action = '/cate/hide/' + categoryno;
                    var hiddenField2 = document.createElement('input');
                    hiddenField2.type = 'hidden';
                    hiddenField2.name = 'word'; // 서버에서 사용할 변수 이름
                    hiddenField2.value = word;
                    form.appendChild(hiddenField2);
                    var hiddenField3 = document.createElement('input');
                    hiddenField3.type = 'hidden';
                    hiddenField3.name = 'type'; // 서버에서 사용할 변수 이름
                    hiddenField3.value = type;
                    form.appendChild(hiddenField3);
                    var hiddenField4 = document.createElement('input');
                    hiddenField4.type = 'hidden';
                    hiddenField4.name = 'now_page'; // 서버에서 사용할 변수 이름
                    hiddenField4.value = now_page;
                    form.appendChild(hiddenField4);
                    var hiddenField5 = document.createElement('input');
                    hiddenField5.type = 'hidden';
                    hiddenField5.name = 'num'; // 서버에서 사용할 변수 이름
                    hiddenField5.value = num;
                    form.appendChild(hiddenField5);

                    var hiddenField6 = document.createElement('input');
                    hiddenField6.type = 'hidden';
                    hiddenField6.name = 'name'; // 서버에서 사용할 변수 이름
                    hiddenField6.value = name;
                    form.appendChild(hiddenField6);
                    document.body.appendChild(form);
                    form.submit();
                } else {
                    alert("원래 페이지로 돌아갑니다.");

                }
            }
        </script>

      </td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-danger btn-sm" onclick="multideletecate()">선택 삭제</button>

  <script>
      function multideletecate() {
          var selectedCategories = document.getElementsByName('selectedCategories');
          var selectedCatenoList = [];
          for (var i = 0; i < selectedCategories.length; i++) {
              if (selectedCategories[i].checked) {
                  selectedCatenoList.push(selectedCategories[i].value);
              }
          }

          if (selectedCatenoList.length === 0) {
              alert("선택된 카테고리가 없습니다.");
              return;
          }

          if (confirm(selectedCatenoList.join(", ") + "번의 카테고리를 삭제하시겠습니까? 삭제하면 복구할 수 없습니다!")) {
              var form = document.createElement('form');
              form.method = 'post';
              form.action = '/cate/multidelete';

              for (var j = 0; j < selectedCatenoList.length; j++) {
                  var hiddenField = document.createElement('input');
                  hiddenField.type = 'hidden';
                  hiddenField.name = 'categorynoList';
                  hiddenField.value = selectedCatenoList[j];
                  form.appendChild(hiddenField);
              }

              document.body.appendChild(form);
              form.submit();
          } else {
              alert("삭제가 취소되었습니다.");
          }
      }
  </script>

  </div>
<!-- 페이지 버튼 목록 출력 시작 -->
  <div class="Bottom_menu" th:utext="${paging}"></div>
</div>


