<!DOCTYPE html>
 
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
<script>

  function send() {
    const restno = document.getElementById("restno").value; // input 요소의 값 가져오기
    const word = document.getElementById("word").value; // input 요소의 값 가져오기
    const data = { restno: restno, word: word }; // 서버로 전송할 데이터 객체 생성

    if (word ==null) {
      const word = "";
    }
    fetch("/menu/menulist", {
      method: 'POST', // 메서드를 POST로 변경
      headers: {
        'Content-Type': 'application/json' // JSON 형식으로 데이터 전송
      },
      body: JSON.stringify(data) // 데이터 객체를 JSON 문자열로 변환하여 body에 포함
    })
      .then(response => response.json())
      .then(rdata => {
        // 받은 데이터 처리
        rdata.forEach(item => {
          console.log(item);
        });
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }

    

  </script>
  <div class='title_line'>
    <span th:text="${menuVO?.name}" class="title_line_text"></span> 
    <div th:if="${word.length() > 0}" class='title_line' th:text="|> 「${word}」 검색 ${search_count} 건|"></div>
  </div>
  <div>
  	<form name='frm'>
  		<input type="hidden" th:value="${word}" id="word">
  		<select id="restno" onchange="send()">
  			<option th:each="restaurantVO, status : ${ownerRestList}" th:value="${restaurantVO.restno}" th:text="${restaurantVO.name}"></option>
  		</select>
  	</form>
  </div>
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|/menu/create?word=${word}&now_page=${now_page}|}">등록</a>
  </aside> 
  <div th:replace="~{menu/list_search_component::list_search_fragment}"></div>
   	
   
  <div class='menu_line'>   </div>
    
   
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 20%;'/>
      <col style='width: 30%;'/>
      <col style='width: 30%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
    </colgroup>
    <tbody>
      <tr>
        <th class='th_bs'>이미지</th>
        <th class='th_bs'>식당명</th>
        <th class='th_bs'>메뉴명</th>
        <th class='th_bs'>가격</th>
        <th class='th_bs'>수정 / 삭제</th>
      </tr>
    
    
    <tr th:if="${list.size()==0}">
      <td colspan="2" style="text-align: center; padding: 50px 0px;">관련 글이 등록되지 않았습니다.</td>
    </tr>
    </tbody>
  </table>
  <div class="bottom_menu" th:utext="${paging}"></div>


<script>
  	function delete_check(menuno, word, now_page){
	  	if (confirm("정말 삭제하시겠습니까??") == true){    //확인
	  		let f = document.createElement('form');
    
		    let obj1;
		    obj1 = document.createElement('input');
		    obj1.type = 'hidden';
		    obj1.name = 'menuno';
		    obj1.value = menuno;
		    
			let obj2;
			obj2 = document.createElement('input');
		    obj2.type = 'hidden';
		    obj2.name = 'word';
		    obj2.value = word;
			
			let obj3;
			obj3 = document.createElement('input');
		    obj3.type = 'hidden';
		    obj3.name = 'now_page';
		    obj3.value = now_page;
		
		    f.appendChild(obj1);
		    f.appendChild(obj2);
		    f.appendChild(obj3);
		    f.setAttribute('method', 'post');
		    f.setAttribute('action', '/menu/delete');
		    document.body.appendChild(f);
		    f.submit();
	  	}else{   //취소
	      	return;
	  	}
	}
</script> 
</div>

</html>
