<!DOCTYPE html>
<html layout:decorate="~{mobile_layout}">
<div layout:fragment="content">

	
	<div>
		<span class="page_name">검색 조건</span>
	</div>
	<div>
		<section>
			<button type="button" onclick="location.href='../map'" style="width:100%">주변지역 레스토랑 보기</b>
		</section>
		<form id="frm" name='frm' method='get' action='./search_list'>
			
			<section id="sec_reserve_condition">
				<span class="section_name">예약 조건</span><br>
				<label>인원:</label><input type="number" name="person" value="2">명
				<input type="date" id="reserve_date" name="date">
				<div class="vertical_scroll" id="scrollContainer" style="margin-top: 10px;">
					<button   type="button" class="buttontime" onclick="selectTime(0, this)">0:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(1, this)">1:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(2, this)">2:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(3, this)">3:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(4, this)">4:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(5, this)">5:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(6, this)">6:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(7, this)">7:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(8, this)">8:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(9, this)">9:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(10, this)">10:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(11, this)">11:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(12, this)">12:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(13, this)">13:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(14, this)">14:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(15, this)">15:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(16, this)">16:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(17, this)">17:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(18, this)">18:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(19, this)">19:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(20, this)">20:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(21, this)">21:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(22, this)">22:00</button>
					<button  type="button" class="buttontime" onclick="selectTime(23, this)">23:00</button>
				</div>
				<input type="hidden" id="selected_time" name="time" value="">
				
				
			</section>
			<section id="sec_location">
				<span class="section_name">지역선택</span><span>(미선택시 전국기반)</span><br>
		        <div id="midarea_div" >
		        	<button type="button" class="button" th:each="midAreaVO, status : ${midAreaList}"th:value="${midAreaVO.midareano}" th:text="${midAreaVO.name}"onclick="selectMidArea(this)" style="flex:1 0 auto; margin: 1px;"></button>
		        </div>
		        
		        <div id="botarea_div" style="display:none">
		        	
		        </div>
		        <input type="hidden" name="botarea">
			</section>
			<section id="sec_category" >
				<span class="section_name">카테고리</span><span>(미선택시 모든카테고리)</span><br>
				<button  type="button" th:each="categoryVO, status : ${cateList}" th:onclick="|selectCategory(${categoryVO.categoryno}, this)|" th:text="${categoryVO.name}" style="flex:1 0 auto; margin: 1px;"></button>
				<input type="hidden" id="categoryno" name="categoryno">
			</section>
			<section id="sec_price">
				<span class="section_name">가격</span>
				<h3></h3>
				<div>
					<label>최저가격: </label><input type="number" name="min_price" min="0" max="40" value="0">만 원<br>
					<label>최고가격: </label><input type="number" name="max_price" min="1" max="40" value="40">만 원 
				</div>
				
			</section>
			
			<div style="width: 100%;text-align: center;">
				<button  type="submit" style="width:100px;margin:0px auto;">검색</button>
			</div>
			
		</form>
	</div>
	<script src="/js/area/SelectMidArea.js"></script>
	<script src="/js/today.js"></script>
	<script>
	document.addEventListener('DOMContentLoaded', function () {
    	
	});
	function submitForm(){
	   // 폼 데이터 가져오기
      const botareaBox = document.getElementsByName('botarea')[0];
      botareaBox.value = "";
      let all_botarea_button  = document.querySelectorAll('.btn_botarea');
      alert(all_botarea_button.length);
      for(let botareaButton of all_botarea_button){
				console.log(botareaButton.value);
				if(botareaButton.classList.contains('button_selected')){
					botareaBox.value += botareaButton.value + "_";
			}
		}     
	    
		const form = document.getElementById('frm');
		form.submit();
	}
	
</script>
	<script>
		window.onload=()=>{
			document.querySelectorAll('.buttontime')[1].click();
			document.getElementById('reserve_date').value= new Date().toISOString().substring(0, 10);	
			const form = document.getElementById('frm');
    	const time1 = document.getElementById('time1');
			document.getElementById('reserve_date').setAttribute('min', getTodayDate());
			
		    form.addEventListener('submit', function (event) {
		        // 기본 동작(페이지 새로고침) 막기
		        event.preventDefault();
		        
		        // submit 함수 호출
		        submitForm();
		    });
			time1.click();
		}
		
		//시간버튼 클릭 이벤트
		function selectTime(time, eventButton){
			let allBtnRed = document.getElementsByClassName('buttontime_selected');
			let inputSelectedTime = document.getElementById('selected_time') 
			if(allBtnRed.length != 0){
				allBtnRed[0].classList.remove('buttontime_selected');	
			}
			eventButton.classList.add('buttontime_selected');
			inputSelectedTime.value = time;
		}
		
		function selectCategory(categoryno, selectButton){
			let inputCategory = document.getElementById('categoryno');
			const secCategory = document.getElementById('sec_category');
			const btnRedCategory = secCategory.querySelector('.btn_red');
			
			if(selectButton.classList.contains('btn_red')){
				
				inputCategory.value = '';
			}else{
				if(btnRedCategory!=null){
					btnRedCategory.classList.remove('btn_red');	
				}
				inputCategory.value = categoryno;
			}
			selectButton.classList.toggle('btn_red');
			
		}
		
		function selectBotarea(eventButton){
			let selected_botarea_btn = eventButton;
			console.log(selected_botarea_btn.value);
			if(selected_botarea_btn.value == 0){
				let all_botarea_button  = document.getElementById('botarea_div').querySelectorAll('.btn_botarea');
				if(selected_botarea_btn.classList.contains('button_selected')){
					for(const button of all_botarea_button){
						button.classList.remove('button_selected');
					}
				}else{
					for(const button  of all_botarea_button){
						button.classList.add('button_selected');
						
					}
				}
			}else{
				if(selected_botarea_btn.classList.contains('button_selected')){
					let button  = document.getElementById('botarea_div').querySelector('button');
					button.classList.remove('button_selected');
				}
				selected_botarea_btn.classList.toggle('button_selected');
			}
			
		}
		function getTodayDate() {
            const today = new Date();
            const year = today.getFullYear();
            const month = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더해줍니다.
            const day = String(today.getDate()).padStart(2, '0');
            return year + '-' + month + '-' + day;
        }
	</script>
	<script>
        const scrollContainer = document.getElementById('scrollContainer');
        
        let isDown = false;
        let startX;
        let scrollLeft;

        scrollContainer.addEventListener('mousedown', (e) => {
            isDown = true;
            scrollContainer.classList.add('active');
            startX = e.pageX - scrollContainer.offsetLeft;
            scrollLeft = scrollContainer.scrollLeft;
        });

        scrollContainer.addEventListener('mouseleave', () => {
            isDown = false;
            scrollContainer.classList.remove('active');
        });

        scrollContainer.addEventListener('mouseup', () => {
            isDown = false;
            scrollContainer.classList.remove('active');
        });

        scrollContainer.addEventListener('mousemove', (e) => {
            if(!isDown) return;
            e.preventDefault();
            const x = e.pageX - scrollContainer.offsetLeft;
            const walk = (x - startX) * 3; //scroll-fast
            scrollContainer.scrollLeft = scrollLeft - walk;
        });
    </script>
</div>
</html>