<!DOCTYPE html>
<html layout:decorate="~{mobile_layout}">
<div layout:fragment="content">
	<div>
		<span class="page_name">검색 결과</span>
	</div>
	<section id="sec_reserve_condition">
		<span class="section_name">예약 조건</span><br>
		<label>인원:</label><input type="number" id="person" name="person" th:value="${person}" onchange="searchRestaurant()">명
		<input type="date" id="reserve_date" name="date" th:value="${reserve_date}" onchange="searchRestaurant()">
		<div class="vertical_scroll" id="scrollContainer">
			<button type="button" class="timebutton" onclick="selectTime(0, this)">0:00</button>
			<button type="button" class="timebutton" onclick="selectTime(1, this)">1:00</button>
			<button type="button" class="timebutton" onclick="selectTime(2, this)">2:00</button>
			<button type="button" class="timebutton" onclick="selectTime(3, this)">3:00</button>
			<button type="button" class="timebutton" onclick="selectTime(4, this)">4:00</button>
			<button type="button" class="timebutton" onclick="selectTime(5, this)">5:00</button>
			<button type="button" class="timebutton" onclick="selectTime(6, this)">6:00</button>
			<button type="button" class="timebutton" onclick="selectTime(7, this)">7:00</button>
			<button type="button" class="timebutton" onclick="selectTime(8, this)">8:00</button>
			<button type="button" class="timebutton" onclick="selectTime(9, this)">9:00</button>
			<button type="button" class="timebutton" onclick="selectTime(10, this)">10:00</button>
			<button type="button" class="timebutton" onclick="selectTime(11, this)">11:00</button>
			<button type="button" class="timebutton" onclick="selectTime(12, this)">12:00</button>
			<button type="button" class="timebutton" onclick="selectTime(13, this)">13:00</button>
			<button type="button" class="timebutton" onclick="selectTime(14, this)">14:00</button>
			<button type="button" class="timebutton" onclick="selectTime(15, this)">15:00</button>
			<button type="button" class="timebutton" onclick="selectTime(16, this)">16:00</button>
			<button type="button" class="timebutton" onclick="selectTime(17, this)">17:00</button>
			<button type="button" class="timebutton" onclick="selectTime(18, this)">18:00</button>
			<button type="button" class="timebutton" onclick="selectTime(19, this)">19:00</button>
			<button type="button" class="timebutton" onclick="selectTime(20, this)">20:00</button>
			<button type="button" class="timebutton" onclick="selectTime(21, this)">21:00</button>
			<button type="button" class="timebutton" onclick="selectTime(22, this)">22:00</button>
			<button type="button" class="timebutton" onclick="selectTime(23, this)">23:00</button>					
		</div>
		<input type="hidden" id="selected_time" name="time" th:value="${time}" onchange="searchRestaurant()">
		<input type="hidden" id="categoryno" th:value="${categoryno}">
		<input type="hidden" id="botareas" th:value="${botarea}">
		<input type="hidden" id="min_price" th:value="${min_price}">
		<input type="hidden" id="max_price" th:value="${max_price}">
		<input type="text" id="word" th:value="${word}">
		
		
	</section>
	<section id="sec_list">
		
	</section>
	<script src="/js/today.js"></script>
	<script>
		window.onload = () => {
			let reserveTime = document.querySelector('#selected_time').value;
			document.querySelectorAll('.timebutton')[reserveTime].click();
			document.getElementById('reserve_date').setAttribute('min', getTodayDate());
			
			searchRestaurant();
		}
		function moveRestaurant(event){
			let inputs = event.currentTarget.querySelector('input');
			let restno = inputs.value;
			let person = document.getElementById('person').value;
			let time = document.getElementById('selected_time').value;
			let reserveDate = document.getElementById('reserve_date').value;
			location.href = "/restaurant/main_page?restno=" + restno + "&person=" + person + "&date=" + reserveDate + "&time=" + time;
		}
        //시간버튼 클릭 이벤트
		function selectTime(time, eventButton){
			let allBtnRed = document.getElementsByClassName('btn_red');
			let inputSelectedTime = document.getElementById('selected_time') 
			if(allBtnRed.length != 0){
				allBtnRed[0].classList.remove('btn_red');	
			}
			eventButton.classList.add('btn_red');
			inputSelectedTime.value = time;
			searchRestaurant();
		}
		
		function searchRestaurant(){
			const selectedTime = document.getElementById('selected_time');
			const reserveDate = document.getElementById('reserve_date');
			const person = document.getElementById('person');
			const categoryno = document.getElementById('categoryno');
			const botareas = document.getElementById('botareas');
			const minPrice = document.getElementById('min_price');
			const maxPrice = document.getElementById('max_price');
			const searchWord = document.getElementById('word');
			
			fetch(
	          "/restaurant/search_list",
	          {
	            method: "POST",
	            headers: {"Content-Type": "application/json"},
	            body: JSON.stringify({
																		"time": selectedTime.value,
																		"date": reserveDate.value,
																		"person": person.value,
																		"categoryno": categoryno.value,
																		"botareas": botareas.value,
																		"minPrice": minPrice.value,
																		"maxPrice": maxPrice.value,
																		"word": word.value
																		})
	          }
	        )
	          .then((response) => response.json())
	          .then((rdata) => {
				  		const sectionList = document.getElementById('sec_list');
				  		console.log(rdata.length);
				  		sectionList.innerHTML=`<div><span id="list_count">${rdata.length}</span>개의 매장이 검색되었습니다.</div>`;
	            rdata.forEach(restaurantVO => {
								const restaurantInfoDiv = document.createElement('div');
								restaurantInfoDiv.classList.add('restaurant_info');
								restaurantInfoDiv.addEventListener('click', moveRestaurant)
								let src = `/restaurant/storage/${restaurantVO.image1}`;
								restaurantInfoDiv.innerHTML = `
								<input type="hidden" id="restno" value="${restaurantVO.restno}">
								<div style="flex:0 0 20%; height:100%">
									<img src="${src}" style="width:100%; height:100px;background-size:cover;">
								</div>		
								<div style="flex:1; height:100%">
									<div><h2>${restaurantVO.name}</h2></div>
									<div><img src="/images/icon/favorite_actvie.svg" style="width:20px; height:20px;"><span style="font-style:bold;">5.0</span></div>
								</div>`
								sectionList.appendChild(restaurantInfoDiv);
							});
	          });
		}
	</script>
	<script>
        const scrollContainer = document.getElementById('scrollContainer');
        
        let isDown = false;
        let startX;
        let scrollLeft;

        scrollContainer.addEventListener('mousedown', (e) => {
            isDown = true;
            scrollContainer.classList.add('active');
            startX = e.pageX - scrollContainer.offsetLeft;
            scrollLeft = scrollContainer.scrollLeft;
        });

        scrollContainer.addEventListener('mouseleave', () => {
            isDown = false;
            scrollContainer.classList.remove('active');
        });

        scrollContainer.addEventListener('mouseup', () => {
            isDown = false;
            scrollContainer.classList.remove('active');
        });

        scrollContainer.addEventListener('mousemove', (e) => {
            if(!isDown) return;
            e.preventDefault();
            const x = e.pageX - scrollContainer.offsetLeft;
            const walk = (x - startX) * 3; //scroll-fast
            scrollContainer.scrollLeft = scrollLeft - walk;
        });
    </script>
</div>
</html>