<!DOCTYPE html>
<html layout:decorate="~{mobile_layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div th:text="${fail}">

  </div>
  
    <script>
    
      // 재료 입력 필드를 제거하는 함수
      function removeIngredient(button) {
        const ingredientDiv = button.parentElement;
        document.getElementById('ingredients').removeChild(ingredientDiv);
      }
  
      // 재료를 추가하는 함수
      function addIngredient(ingredno, name) {
        // 중복 확인
        const existingIngredients = document.querySelectorAll('#ingredients input[name="ingredno[]"]');
        for (let i = 0; i < existingIngredients.length; i++) {
          if (existingIngredients[i].value == ingredno) {
            // 중복되는 경우 추가하지 않고 함수 종료
            return;
          }
        }
  
        const ingredientDiv = document.createElement('div');
        ingredientDiv.classList.add('ingredient');
        ingredientDiv.style = "background-color: gray; border-radius: 20px; width: 150px; display: flex; justify-content: space-between; align-items: center; padding: 5px; margin: 5px;";
  
        const ingredientInput = document.createElement('input');
        ingredientInput.type = 'hidden';
        ingredientInput.name = 'ingredno[]';
        ingredientInput.value = ingredno;
        ingredientInput.required = true;
  
        const ingredientText = document.createElement('span');
        ingredientText.innerText = name;
        ingredientText.style = "color: white;";
  
        const removeButton = document.createElement('button');
        removeButton.type = 'button';
        removeButton.innerText = '삭제';
        removeButton.style = "margin-left: 10px; background-color: red; color: white; border: none; border-radius: 5px; padding: 2px 5px;";
        removeButton.onclick = function() {
          removeIngredient(removeButton);
        };
  
        ingredientDiv.appendChild(ingredientInput);
        ingredientDiv.appendChild(ingredientText);
        ingredientDiv.appendChild(removeButton);
  
        document.getElementById('ingredients').appendChild(ingredientDiv);
      }
  
      // 알러지 재료를 선택하여 추가하는 함수
      function handleSelectChange(selectElement) {
        const selectedOption = selectElement.options[selectElement.selectedIndex];
        if (selectedOption.value !== "") {
          addIngredient(selectedOption.value, selectedOption.text);
        }
      }
    </script>
    
  <script src="/js/customer/create/enter.js"></script>
  <script src="/js/customer/create/checkID.js"></script>

  <script src="/js/customer/create/checknickname.js"></script>
  <script src="/js/customer/create/send.js"></script>

  <div class="login-wrapper">
    <h2>일반 회원가입</h2>
    <span> <span class="required">* </span> 은 필수  </span>
    <form style="margin-top: 10px;" name="frm" th:object="${customerVO}" method="post" action="/customer/create"
          id="login-form">
      <label>아이디(이메일) <span class="required"> * </span> </label>

      <div style="display: flex; align-items: center;">

        <input type="hidden" style="margin-top: 10px;" name="id" id="id" value="" autofocus="autofocus"
               placeholder="아이디 입력" th:field="*{id}" >
        <input type="text" style="margin-top: 10px; width: 35%;" id="id1" name="id1" value="" autofocus="autofocus"
               placeholder="아이디 입력" >
        <span style="margin-left: 5px; margin-right: 5px;" id="dot">@</span>
        <select id="email" style="margin-top: 10px; width: 40%; font-size: 0.7em;" >
          <option value="@gmail.com">Gmail.com</option>
          <option value="@naver.com">Naver.com</option>
          <option value="@nate.com">Nate.com</option>
          <option value="@daum.net">daum.net</option>
        </select>

        <button type='button' id="btn_checkID" onclick="checkID()"
                style="margin-left: 10px; margin-top: 10px; font-size: 12px;" >중복확인
        </button>

        <button type="button" onclick="openModal('Email')" id="btn_checkEmail" style="margin-left: 10px; margin-top: 10px; font-size: 12px; display: none;">이메일 인증</button>
      </div>
      <div th:if="${#fields.hasErrors('id')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err : ${#lists.sort(#fields.errors('id'))}" th:text="${err}"></div>
      </div>
      <script src="/js/customer/create/input.js">

      </script>

      <span style="margin-top: 100px;" id='id_msg'></span>

      <div class="form-group" style="margin-top: 10px;">
        <label>비밀번호 <span class="required"> * </span> </label>
        <input type="password" name="passwd" style="margin-top: 10px;" value="" autofocus="autofocus"
               placeholder="비밀번호 입력"
               th:field="*{passwd}">

        <div th:if="${#fields.hasErrors('passwd')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err : ${#lists.sort(#fields.errors('passwd'))}" th:text="${err}"></div>
        </div>


      </div>
      <div class="form-group" style="margin-top: 10px;">
        <label>비밀번호 확인<span class="required"> * </span> </label>
        <input type="password" name="passwd2" style="margin-top: 10px;" value="" id="passwd2" autofocus="autofocus"
               placeholder="비밀번호 입력" >


        <span id="passwd2_msg"></span>
      </div>
      <div class="form-group" style="margin-top: 10px;">
        <label>성별 선택 <span class="required">* </span> </label>
        <select name="gender" id="gender" style="margin-top: 10px;" >

          <option value="M">남자</option>
          <option value="F">여자</option>
        </select>
        <span id="gender_msg"></span>
      </div>

      <div class="form-group" style="margin-top: 10px;">
        <label>성명 <span class="required">*</span></label>
        <input type='text' name='cname' id='cname' value='' style="margin-top: 10px;"
               placeholder="성명">
        <span id='cname_msg'></span>
      </div>

      <label>닉네임 <span class="required"> * </span> </label>

      <div style="display: flex; align-items: center;">

        <input type="text" style="margin-top: 10px;" name="nickname" value="" autofocus="autofocus"
               placeholder="닉네임 입력" th:field="*{nickname}" >

        <button type='button' id="btn_checkNickname" onclick="checknickname()"
                style="margin-left: 10px; margin-top: 10px;">중복확인
        </button>


      </div>
      <div>
        <span id='nickname_msg'>닉네임 중복확인 해주세요</span>
      </div>

      <label style="margin-top:15px;">휴대폰 번호 <span class="required">*</span> </label>
      <!-- 모달 열기 버튼 -->

      <div>
        <input type='text' id='phone1' readonly value="010" placeholder="010" style="width: 20%;  margin-top: 10px;">
        <span style="margin-left: 3px; margin-right: 3px; margin-top: 1px;  font-weight: bold ">-</span>
        <input type='text' id='phone2' maxlength="4" placeholder="0000" style="width: 20%;  ">
        <span style="margin-left: 3px; margin-right: 3px; margin-top: 1px; font-weight: bold ">-</span>
        <input type='text' id='phone3' maxlength="4" placeholder="0000" style="width: 20%; ">
        <button type="button" id="openModalButton" disabled onclick="openModal('Phone')" style="margin-top: 0px; width: 20%; font-size: 10px;">휴대폰 인증</button>

      </div>

      <!-- 모달 -->
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p id="verificationText"></p>
          <div>
            <input id="checkInput" type="hidden" placeholder="인증 번호 확인">
            <div style="display: flex">
              <button type="button" id="sendButton" style="margin-top: 10px; display: none;">인증번호 전송</button>
              <button type="button" id="resendButton" style="display: none;">재전송</button>
              <button type="button" id="verifyButton" style="display: none;">인증 확인</button>
            </div>
          </div>
        </div>
      </div>

      <!-- 모달 외부의 입력란 -->


      <!-- JavaScript -->
      <script src="/js/customer/create/phoneEmailcheck.js"></script>
      <input type="hidden" name="phone" id="phone" value="">

      <label>우편 번호 </label>


      <div style="display: flex; align-items: center;">

        <input type="text" style="margin-top: 10px; width:32% " name='zipcode' id='zipcode' value=""
               autofocus="autofocus"
               placeholder="우편번호" >

        <button type='button' id="btn_DaumPostcode" onclick="DaumPostcode()"
                style="margin-left: 10px; margin-top: 10px; width: 32%;">우편번호찾기
        </button>
      </div>


      <!-- ------------------------------ DAUM 우편번호 API 시작 ------------------------------ -->
      <div>
        <div id="wrap" style="display:none;border:1px solid;width:330px;height:300px;margin:5px 0;position:relative">
          <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap"
               style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()"
               alt="접기 버튼">
        </div>
        <script src="/js/customer/create/daumZipcode.js"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>

        </script>

      </div>
      <!-- ------------------------------ DAUM 우편번호 API 종료 ------------------------------ -->

      <div>
        <label>주소</label>
        <input style="margin-top: 10px" type='text' name='address1' id='address1'
               value=''
               placeholder="주소 1 입력"
               readonly>
        <label>상세주소</label>
        <input type='text' style="margin-top: 10px" name='address2' id='address2'
               value=''
               placeholder="상세주소 입력"
        >
      </div>
      
      <!-- 알러지 재료 선택 -->
      <div class="form-group" style="margin-top: 10px;">
        <label>알러지 재료:</label>
        <select id="ingredientSelect" onchange="handleSelectChange(this)" class="form-control form-control-sm" style="width: 70%;">
          <option value="">재료 선택</option>
          <option th:each="ingredient : ${ingredient_list}" th:value="${ingredient.ingredno}" th:text="${ingredient.name}"></option>
        </select>
      </div>

      <!-- 선택된 알러지 재료 목록 -->
      <div id="ingredients" class="form-group" style="margin-top: 10px;">
        <div th:each="allergy : ${allergies}" class="ingredient" style="background-color: gray; border-radius: 20px; width: 150px; display: flex; justify-content: space-between; align-items: center; padding: 5px; margin: 5px;">
          <input type="hidden" name="ingredno[]" th:value="${allergy.ingredno}">
          <span th:text="${allergy.ingredientName}" style="color: white;"></span>
          <button type="button" onclick="removeIngredient(this)" style="margin-left: 10px; background-color: red; color: white; border: none; border-radius: 5px; padding: 2px 5px;">삭제</button>
        </div>
      </div>


      <div style="margin-top: 10px;">
        <button type="button" onclick="return send()" id="btn_send">회원가입</button>
        <button type="button" onclick="location.href = '/';" id="btn_cancel">취소</button>
      </div>


    </form>
  </div>
</div>
</html>




