<!DOCTYPE html>
<html layout:decorate="~{mobile_layout}">
<div layout:fragment="content">

  <script>
    window.onload = () => {
      let inputch = document.getElementById('inputch');
      if (inputch.checked) {
        let emaildiv = document.getElementById('emailSection');
        emaildiv.style.display = "none";
      }
    }
  </script>

  <section class="findId-section">
    <div class="findId-info">
      <input type="radio" class="radio-input" id="inputch" name="authMethod" onclick="showSection('phoneSection')" checked>
      <span class="info-text"> 회원정보에 등록한 휴대폰번호로 인증</span>
    </div>
    <div id="phoneSection">
      <div>
        <span class="info-description" style="font-size: 13px;">등록한 아이디와 이름과 휴대폰 번호가 같아야 인증번호가 전송됩니다.</span>
      </div>
      <div class="form-group" style="margin-top: 20px;">


        </script>
      </div>
      <div class="form-group" style="margin-top:0px;">
        <label class="label">이름</label>
        <input type="text" id="cname" class="text-input">
      </div>

      <div class="form-group">
        <label class="label">휴대폰 번호</label>
        <input type="text" id="phone" class="phone-input">

        <!-- 인증번호 전송 버튼 -->
        <button type="button" onclick="sendcode('phone')" id="auth_btn_phone" class="auth-button">인증번호 전송</button>
      </div>

      <div class="form-group" id="auth_div_phone" style="display: none;">
        <label class="label">인증 번호 확인</label>
        <input type="text" id="phone_auth" class="phone-input">

        <!-- 인증번호 확인 버튼 -->
        <button type="button" onclick="check_auth('phone')" class="auth-button">인증번호 확인</button>
      </div>

    </div>
  </section>
  <script src="/js/customer/findId/check_auth.js"></script>
  <script src="/js/customer/findId/sendEmail.js"></script>
  <section class="findId-section">
    <div class="findId-info">
      <input type="radio" class="radio-input" name="authMethod" onclick="showSection('emailSection')">
      <span class="info-text"> 회원정보에 등록한 이메일로 인증</span>
    </div>

    <div id="emailSection" style="display: none;">
      <div>
        <span class="info-description"  style="font-size: 13px;">등록한 이름과 이메일이 같아야 인증번호가 전송됩니다.</span>
      </div>

      <div class="form-group" style="margin-top: 20px;">
        <label class="label">아이디</label>
        <input type="text" id="id2" class="text-input">
      </div>

      <div class="form-group">
        <label class="label">이름</label>
        <input type="text" id="cname2" class="text-input">
      </div>

      <div class="form-group">
        <label class="label">이메일</label>
        <input type="text" id="email" class="email-input">

        <!-- 인증번호 전송 버튼 -->
        <button type="button" onclick="sendcode('email')" class="auth-button">인증번호 전송</button>
      </div>

      <div class="form-group" id="auth_div_email" style="display: none;">
        <label class="label">인증 번호 확인</label>
        <input type="text" id="email_auth" class="email-input">

        <!-- 인증번호 확인 버튼 -->
        <button type="button" onclick="check_auth('email')" class="auth-button">인증번호 확인</button>
      </div>
    </div>
  </section>

  <div class="next-button" id="next-phone">
    <button type="button" onclick="sendCode('phone')">다음</button>
  </div>

  <div class="next-button" id="next-email">
    <button type="button" onclick="sendCode('email')">다음</button>
  </div>

  <form action="/customer/findPasswordPhone" method="POST" id="nextPhoneForm" style="display: none;">

    <input type="hidden" name="cname" id="nextPhoneCname">
    <input type="hidden" name="phone" id="nextPhonePhone">
    <input type="hidden" name="auth" id="nextPhoneAuth">
  </form>

  <form action="/customer/findPasswordEmail" method="POST" id="nextEmailForm" style="display: none;">

    <input type="hidden" name="cname" id="nextEmailCname">
    <input type="hidden" name="email" id="nextEmailEmail">
    <input type="hidden" name="auth" id="nextEmailAuth">
  </form>

  <script>
    function showSection(sectionId) {
      document.getElementById('phoneSection').style.display = 'none';
      document.getElementById('emailSection').style.display = 'none';
      document.getElementById(sectionId).style.display = 'block';
    }

    function sendCode(type) {
      if (type === 'phone') {

        const cname = document.getElementById('cname').value;
        const phone = document.getElementById('phone').value;

        document.getElementById('nextPhoneCname').value = cname;
        document.getElementById('nextPhonePhone').value = phone;
        document.getElementById('nextPhoneForm').style.display = 'block';
        document.getElementById('nextPhoneForm').submit();
      } else if (type === 'email') {

        const cname2 = document.getElementById('cname2').value;
        const email = document.getElementById('email').value;

        document.getElementById('nextEmailCname').value = cname2;
        document.getElementById('nextEmailEmail').value = email;
        document.getElementById('nextEmailForm').style.display = 'block';
        document.getElementById('nextEmailForm').submit();
      }

    }
  </script>
</div>
</html>
