<!DOCTYPE html>
<div th:fragment="search_all_fragment"> <!-- <div th:replace=...-->



  <div class="manager-user">
  <table class="manager-user-list" >
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 15%;'/>
      <col style='width: 15%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
    </colgroup>
    <thead>
    <tr class="manager-header">
      <th class="th_bs">선택</th>
      <th class="th_bs">번호</th>
      <th class="th_bs">아이디</th>
      <th class="th_bs">이름</th>
      <th class="th_bs">닉네임</th>
      <th class="th_bs">프로필</th>
      <th class="th_bs">기타</th>
    </tr>
    </thead>
    <tbody>




    <!-- Iterate over your data -->
    <tr class="manager-data" th:each="customerVO,status : ${searchlist}">

      <td class="td_bs"><input type="checkbox" name="selectedcustomergories" th:value="${customerVO.custno}"></td>
      <td class="td_bs" th:text="${num - status.index}"></td>
      <td class="td_bs"><a th:href="@{|/customer/read?custno=${customerVO.custno}&word=${word}&type=${type}&now_page=${now_page}|}" style="display: block;"
                           th:text="${customerVO.id}"></a></td>
      <td class="td_bs"><a th:href="@{|/customer/read?custno=${customerVO.custno}&word=${word}&type=${type}&now_page=${now_page}|}" style="display: block;"
                           th:text="${customerVO.cname}"></a></td>
      <td class="td_bs"  th:text="${customerVO.nickname}" id="nickanme"></td>



      <td th:if="${customerVO.image != null and (customerVO.image.endsWith('jpg') or customerVO.image.endsWith('JPG') or customerVO.image.endsWith('png') or customerVO.image.endsWith('PNG') or customerVO.image.endsWith('gif'))}">
        <!--/*@thymesVar id="certifi_image" type=""*/-->
        <img th:src="@{|/customer/storage/${customerVO.image}|}" style="width: 120px; height: 90px;">
      </td>

    
      <td class="td_bs">






        <a style="text-decoration: none" th:href="@{'/customer/read?custno=' + ${customerVO.custno}+ '&word='+${word} + '&now_page='+${now_page}+'&type='+${type}}">
          <img src="/images/update.png" class="icon">
        </a>

        <a style="text-decoration: none" href="#" th:attr="onclick=|deleterest('${customerVO.custno}','${customerVO.cname}','${word}','${type}','${now_page}' ,'${num - status.index}')|">
          <img src="/images/delete.png" class="icon">
        </a>
        <script>
            function deleterest(custno, restname, word, type,now_page,num) {
                var name = restname; // customerVO.cname 값 가져오기

                if (confirm(custno + "번의 " + name + " 회원을 삭제하시겠습니까? 삭제하면 삭제회원이 됩니다!")) {
                    var form = document.createElement('form');
                    form.method = 'post';
                    form.action = '/customer/delete?custno='+custno;
                    var hiddenField2 = document.createElement('input');
                    hiddenField2.type = 'hidden';
                    hiddenField2.name = 'word'; // 서버에서 사용할 변수 이름
                    hiddenField2.value = word;
                    form.appendChild(hiddenField2);
                    var hiddenField3 = document.createElement('input');
                    hiddenField3.type = 'hidden';
                    hiddenField3.name = 'type'; // 서버에서 사용할 변수 이름
                    hiddenField3.value = type;
                    form.appendChild(hiddenField3);
                    var hiddenField4 = document.createElement('input');
                    hiddenField4.type = 'hidden';
                    hiddenField4.name = 'now_page'; // 서버에서 사용할 변수 이름
                    hiddenField4.value = now_page;
                    form.appendChild(hiddenField4);
                    var hiddenField5 = document.createElement('input');
                    hiddenField5.type = 'hidden';
                    hiddenField5.name = 'num'; // 서버에서 사용할 변수 이름
                    hiddenField5.value = num;
                    form.appendChild(hiddenField5);

                    var hiddenField6 = document.createElement('input');
                    hiddenField6.type = 'hidden';
                    hiddenField6.name = 'name'; // 서버에서 사용할 변수 이름
                    hiddenField6.value = name;
                    form.appendChild(hiddenField6);
                    document.body.appendChild(form);
                    form.submit();
                } else {
                    alert("원래 페이지로 돌아갑니다.");
                }
            }
        </script>
        <script>
            function upforward(custno, cname, word, type,now_page,num) {
                var name = cname; // customerVO.cname 값 가져오기

                if (confirm(num + "번의 " + name + " 중분류의 순서를 하나 올리겠습니까?")) {
                    var form = document.createElement('form');
                    form.method = 'post';
                    form.action = '/customer/upforward/' + custno;
                    var hiddenField2 = document.createElement('input');
                    hiddenField2.type = 'hidden';
                    hiddenField2.name = 'word'; // 서버에서 사용할 변수 이름
                    hiddenField2.value = word;
                    form.appendChild(hiddenField2);
                    var hiddenField3 = document.createElement('input');
                    hiddenField3.type = 'hidden';
                    hiddenField3.name = 'type'; // 서버에서 사용할 변수 이름
                    hiddenField3.value = type;
                    form.appendChild(hiddenField3);
                    var hiddenField4 = document.createElement('input');
                    hiddenField4.type = 'hidden';
                    hiddenField4.name = 'now_page'; // 서버에서 사용할 변수 이름
                    hiddenField4.value = now_page;
                    form.appendChild(hiddenField4);
                    var hiddenField5 = document.createElement('input');
                    hiddenField5.type = 'hidden';
                    hiddenField5.name = 'num'; // 서버에서 사용할 변수 이름
                    hiddenField5.value = num;
                    form.appendChild(hiddenField5);

                    var hiddenField6 = document.createElement('input');
                    hiddenField6.type = 'hidden';
                    hiddenField6.name = 'name'; // 서버에서 사용할 변수 이름
                    hiddenField6.value = name;
                    form.appendChild(hiddenField6);
                    document.body.appendChild(form);
                    form.submit();
                } else {
                    alert("원래 페이지로 돌아갑니다.");

                }
            }
        </script>

        <script>
            function upbackward(custno, cname, word, type,now_page,num) {
                var name = cname; // customerVO.cname 값 가져오기

                if (confirm(num + "번의 " + name + " 중분류의 순서를 하나 내리겠습니까?")) {
                    var form = document.createElement('form');
                    form.method = 'post';
                    form.action = '/customer/upbackward/' + custno;
                    var hiddenField2 = document.createElement('input');
                    hiddenField2.type = 'hidden';
                    hiddenField2.name = 'word'; // 서버에서 사용할 변수 이름
                    hiddenField2.value = word;
                    form.appendChild(hiddenField2);
                    var hiddenField3 = document.createElement('input');
                    hiddenField3.type = 'hidden';
                    hiddenField3.name = 'type'; // 서버에서 사용할 변수 이름
                    hiddenField3.value = type;
                    form.appendChild(hiddenField3);
                    var hiddenField4 = document.createElement('input');
                    hiddenField4.type = 'hidden';
                    hiddenField4.name = 'now_page'; // 서버에서 사용할 변수 이름
                    hiddenField4.value = now_page;
                    form.appendChild(hiddenField4);
                    var hiddenField5 = document.createElement('input');
                    hiddenField5.type = 'hidden';
                    hiddenField5.name = 'num'; // 서버에서 사용할 변수 이름
                    hiddenField5.value = num;
                    form.appendChild(hiddenField5);

                    var hiddenField6 = document.createElement('input');
                    hiddenField6.type = 'hidden';
                    hiddenField6.name = 'name'; // 서버에서 사용할 변수 이름
                    hiddenField6.value = name;
                    form.appendChild(hiddenField6);
                    document.body.appendChild(form);
                    form.submit();
                } else {
                    alert("원래 페이지로 돌아갑니다.");

                }
            }
        </script>


        <script>
            function show(custno, cname, word, type,now_page,num) {
                var name = cname; // customerVO.cname 값 가져오기

                if (confirm(num + "번의 " + name + " 중분류의 공개 처리 하겠습니까?")) {
                    var form = document.createElement('form');
                    form.method = 'post';
                    form.action = '/customer/show/' + custno;
                    var hiddenField2 = document.createElement('input');
                    hiddenField2.type = 'hidden';
                    hiddenField2.name = 'word'; // 서버에서 사용할 변수 이름
                    hiddenField2.value = word;
                    form.appendChild(hiddenField2);
                    var hiddenField3 = document.createElement('input');
                    hiddenField3.type = 'hidden';
                    hiddenField3.name = 'type'; // 서버에서 사용할 변수 이름
                    hiddenField3.value = type;
                    form.appendChild(hiddenField3);
                    var hiddenField4 = document.createElement('input');
                    hiddenField4.type = 'hidden';
                    hiddenField4.name = 'now_page'; // 서버에서 사용할 변수 이름
                    hiddenField4.value = now_page;
                    form.appendChild(hiddenField4);
                    var hiddenField5 = document.createElement('input');
                    hiddenField5.type = 'hidden';
                    hiddenField5.name = 'num'; // 서버에서 사용할 변수 이름
                    hiddenField5.value = num;
                    form.appendChild(hiddenField5);

                    var hiddenField6 = document.createElement('input');
                    hiddenField6.type = 'hidden';
                    hiddenField6.name = 'name'; // 서버에서 사용할 변수 이름
                    hiddenField6.value = name;
                    form.appendChild(hiddenField6);
                    document.body.appendChild(form);
                    form.submit();
                } else {
                    alert("원래 페이지로 돌아갑니다.");

                }
            }
        </script>

        <script>
            function hide(custno, cname, word, type,now_page,num) {

                var name = cname; // customerVO.cname 값 가져오기

                if (confirm(num + "번의 " + name + " 중분류의 숨김 처리 하겠습니까?")) {
                    var form = document.createElement('form');
                    form.method = 'post';
                    form.action = '/customer/hide/' + custno;
                    var hiddenField2 = document.createElement('input');
                    hiddenField2.type = 'hidden';
                    hiddenField2.name = 'word'; // 서버에서 사용할 변수 이름
                    hiddenField2.value = word;
                    form.appendChild(hiddenField2);
                    var hiddenField3 = document.createElement('input');
                    hiddenField3.type = 'hidden';
                    hiddenField3.name = 'type'; // 서버에서 사용할 변수 이름
                    hiddenField3.value = type;
                    form.appendChild(hiddenField3);
                    var hiddenField4 = document.createElement('input');
                    hiddenField4.type = 'hidden';
                    hiddenField4.name = 'now_page'; // 서버에서 사용할 변수 이름
                    hiddenField4.value = now_page;
                    form.appendChild(hiddenField4);
                    var hiddenField5 = document.createElement('input');
                    hiddenField5.type = 'hidden';
                    hiddenField5.name = 'num'; // 서버에서 사용할 변수 이름
                    hiddenField5.value = num;
                    form.appendChild(hiddenField5);

                    var hiddenField6 = document.createElement('input');
                    hiddenField6.type = 'hidden';
                    hiddenField6.name = 'name'; // 서버에서 사용할 변수 이름
                    hiddenField6.value = name;
                    form.appendChild(hiddenField6);
                    document.body.appendChild(form);
                    form.submit();
                } else {
                    alert("원래 페이지로 돌아갑니다.");

                }
            }
        </script>

      </td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-danger btn-sm" onclick="multideletecustomer()">선택 삭제</button>

  <script>
      function multideletecustomer() {
          var selectedcustomergories = document.getElementsByName('selectedcustomergories');
          var selectedcustomernoList = [];
          for (var i = 0; i < selectedcustomergories.length; i++) {
              if (selectedcustomergories[i].checked) {
                  selectedcustomernoList.push(selectedcustomergories[i].value);
              }
          }

          if (selectedcustomernoList.length === 0) {
              alert("선택된 카테고리가 없습니다.");
              return;
          }

          if (confirm(selectedcustomernoList.join(", ") + "번의 회원을 삭제하시겠습니까? 삭제하면 복구할 수 없습니다!")) {
              var form = document.createElement('form');
              form.method = 'post';
              form.action = '/customer/multidelete';

              for (var j = 0; j < selectedcustomernoList.length; j++) {
                  var hiddenField = document.createElement('input');
                  hiddenField.type = 'hidden';
                  hiddenField.name = 'custnoList';
                  hiddenField.value = selectedcustomernoList[j];
                  form.appendChild(hiddenField);
              }

              document.body.appendChild(form);
              form.submit();
          } else {
              alert("삭제가 취소되었습니다.");
          }
      }
  </script>


<!-- 페이지 버튼 목록 출력 시작 -->
  <div class="Bottom_menu" th:utext="${paging}"></div>
</div>

</div>
