<!DOCTYPE html>
<html layout:decorate="~{mobile_layout}">
<div layout:fragment="content">

  <!--<div th:fragment="loginform"> &lt;!&ndash; <div th:replace=...&ndash;&gt;-->


  <div th:text="${fail}">

  </div>
  <script th:inline="javascript">
    if ([[${error}]]) {
      alert([[${error}]]);
    }
  </script>
  <script src="/js/owner/login/enter.js"></script>
  <script src="/js/owner/login/send.js"></script>





  <div class="login-wrapper">
    <h2>사업자 로그인</h2>
    <form method="post" action="/owner/login" id="login-form">
      <input type="text" name="id" placeholder="아이디" id="id" value="inhovation423@gmail.com"  autofocus="autofocus">
      <input type="password" name="passwd"  id="passwd" value="1234"  placeholder="비밀번호">
      <label for="id_save">
        <input type="checkbox"  name="id_save" id="id_save"  th:checked="${ck_id_save == 'Y'}" value="Y" >     아이디 저장하기
      </label>
      <label for="passwd_save">
        <input type="checkbox" name="passwd_save" id="passwd_save" th:checked="${ck_passwd_save == 'Y'}" value="Y"/> 비밀번호 저장      </label>


      <input type="submit" value="로그인">

    </form>
  </div>

  <div class="login-process-container">

    <div class="login_process">
      <a href="/owner/findid">아이디 찾기</a>
      <span> | </span>
      <a href="/owner/findpassword">비밀번호 찾기</a>
      <span> | </span>
      <a href="/owner/create">사업자 회원가입</a>

    </div>
  </div>
  <div class="login-process2-container">

    <div class="login_process2">
      <a href="/customer/create">회원가입</a>
      <span> | </span>
      <a href="/customer/login">회원 로그인</a>
    </div>
  </div>
  <div style="height: 80px";></div>
</div>

</html>
