<!DOCTYPE html>

<html layout:decorate="~{mobile_layout}">
<div layout:fragment="content">


  <div th:each="historyDTO : ${loginHistoryList}">
    <div class="login-date-header" th:text="${historyDTO.key}"></div>
    <section id="login-history" class="login-history-section">
      <div>
        <section class="login-info" th:each="detail : ${historyDTO.value}">
          <div class="login-time" th:text="${detail.login_times}"></div>
          <div class="login-info-detail" th:text="${detail.city}"></div>
        </section>
      </div>
    </section>
  </div>
</div>
</html>
