<!DOCTYPE html>
<html layout:decorate="~{mobile_layout}"> <!-- layout.html 상속 -->
<div layout:fragment="content">
  <script>
    window.onload = function () {
      document.querySelector('#passwd').addEventListener('keypress', (event) => {
        if (event.key === 'Enter') {
          document.getElementById('btn_send').focus();
        }
      });
    }

    function send() { // 회원 가입 처리
      let passwd = document.getElementById('passwd');
      let passwd_msg = document.getElementById('passwd_msg');

      if (passwd.value.trim().length == 0) {
        passwd_msg.style.fontSize = "12px";
        passwd_msg.innerHTML = '비밀번호가 누락되었습니다. 비밀번호 입력은 필수 입니다.';
        passwd_msg.classList.add('span_warning');    // class 적용
        passwd.focus();
        return false;  // 회원 가입 진행 중지
      }

      if (passwd.value.trim().length < 4) {
        passwd_msg.innerHTML = '비밀번호는 4자 이상 권장합니다.';
        passwd_msg.style.marginTop = "5px";
        passwd_msg.classList.add('span_warning');    // class 적용
        passwd.focus();
        return false;  // 회원 가입 진행 중지
      }

      document.getElementById('login-form').submit(); // 폼 제출
    }
  </script>
  <div class="login-wrapper" th:object="${ownerVO}">
    <h2 th:text="|${ownerVO.oname} 정보 수정|"> </h2>
    <form method="post" action="/customer/update-mypage" id="login-form">
      <label>비밀번호</label>
      <input type="password" name="passwd" id="passwd" required="required" placeholder="비밀번호" style="margin-top: 10px">
      <span id='passwd_msg'></span>
      <button type="button" onclick="return send()" id="btn_send">정보 수정</button>
      <button type="button" style="margin: 0px;" onclick="location.href = '/customer/my_page';" id="btn_cancel">이전 화면</button>
    </form>
  </div>
</div>
</html>
