<!DOCTYPE html>
<html layout:decorate="~{mobile_layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <script  th:inline="javascript">
    if ([[${success}]]) {
      alert([[${success}]]);
    }
  </script>
  <h2 class="h2">마이페이지</h2>
  <form method="post" enctype="multipart/form-data" action="/owner/update_profile">
    <div class="profile-body" th:object="${ownerVO}">
      <div class="profile-container">
        <div class="edit-icon" id="editProfilePicture">
          <img src="/images/edit.png" alt="Edit Icon">
          <input type="file" name="file1MF" id="profilePictureInput" style="display: none;" accept=".jpg, .jpeg, .png, .gif, .jfif">
        </div>
        <div th:if="${ownerVO.image != null and (ownerVO.image.endsWith('jpg') or ownerVO.image.endsWith('JPG') or ownerVO.image.endsWith('png') or ownerVO.image.endsWith('PNG') or ownerVO.image.endsWith('gif')  or ownerVO.image.endsWith('jfif') or ownerVO.image.endsWith('JFIF'))}" class="profile-picture">
          <img th:src="@{|/owner/storage/${ownerVO.image}|}" id="profileImage">
        </div>

        <div th:if="${ownerVO.image == null and (ownerVO.image.endsWith('jpg') or ownerVO.image.endsWith('JPG') or ownerVO.image.endsWith('png') or ownerVO.image.endsWith('PNG') or ownerVO.image.endsWith('gif')  or ownerVO.image.endsWith('jfif') or ownerVO.image.endsWith('JFIF'))}" class="profile-picture">

        </div>
        <h2 style="margin-top: 30px;" th:text="${ownerVO.oname}"></h2>
        <div class="button-container">
          <button class="edit-button" id="saveProfileButton" style="display: none;">프로필 저장</button>
        </div>
      </div>
    </div>
  </form>
  <script>
    document.getElementById('profilePictureInput').addEventListener('change', function(event) {
      const file = event.target.files[0];
      const allowedExtensions = ['jpg', 'jpeg', 'png', 'gif', 'jfif'];
      const fileExtension = file.name.split('.').pop().toLowerCase();

      if (!allowedExtensions.includes(fileExtension)) {
        alert('허용된 파일 형식만 선택해 주세요: jpg, jpeg, png, gif, jfif');
        event.target.value = ''; // 선택된 파일 초기화
      }
    });
    document.getElementById('editProfilePicture').addEventListener('click', function() {
      document.getElementById('profilePictureInput').click();
    });

    document.getElementById('profilePictureInput').addEventListener('change', function(event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          const profileImage = document.getElementById('profileImage');
          profileImage.src = e.target.result;
          profileImage.style.display = 'block';
          document.getElementById('saveProfileButton').style.display = 'block'; // 저장 버튼 표시
        };
        reader.readAsDataURL(file);
      }
    });
  </script>


  <section><a href="https://www.example1.com" class="box">예약 조회</a></section>
  <section><a href="https://www.example1.com" class="box">리뷰 조회</a></section>
  <section><a href="/owner/my_info_update" class="box">내 정보 수정</a></section>
  <section><a href="/owner/logininfo" class="box">로그인 내역</a></section>
  <section><a href="/owner/logininfo" class="box">패스워드 수정</a></section>
  <div style="height: 80px;">

  </div>
</div>
</html>
