<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div th:text="${fail}">

  </div>
  <script>

    function send() { // 회원 가입 처리
      let id = document.getElementById('id');
      let grade_msg = document.getElementById('grade_msg').innerText;
      let selectElement = document.getElementById('gradeSelect');

      // 선택된 옵션의 value를 얻습니다.
      let selectedValue = selectElement.value;


      // 선택된 옵션의 text를 얻습니다.
      let selectedText = selectElement.options[selectElement.selectedIndex].text;


// grade_msg의 텍스트 내용을 확인합니다.
      if (grade_msg.startsWith('등') ) {
        // 경고창을 표시합니다.
        alert('등급을 선택해주세요');
        // 함수의 실행을 중단시킵니다.
        return false;
      } else {
        // 등급 변경 확인
        let confirmResult = confirm(selectedText+'으로 변경하시겠습니까');
        if (confirmResult) {
          // 사용자가 '예'를 선택한 경우, 폼 제출
          document.getElementById('frm').submit();
        } else {
          // 사용자가 '아니오'를 선택한 경우, 아무것도 하지 않음
          return false;
        }
      }









    }
  </script>

  <ASIDE class="aside_right">
    <A href="javascript:location.reload();">새로고침</A>
    <span class='menu_divide'>│</span>
    <A href='./create.do'>회원 가입</A>
    <span class='menu_divide'>│</span>
    <A href='./list.do'>목록</A>
  </ASIDE>

  <div class='menu_line'></div>

  <div style="width: 60%; margin: 0px auto ">
    <div class="title_line">사업자 정보 조회 수정 (*는 필수)</div>
    <form id="frm" name="frm" th:object="${ownerVO}" method="post" action="/owner/update_grade">
      <div style="align-items: center; display:none;">
        <input type="hidden" id="customerGrade" th:value="${ownerVO.grade}">

        <input class="form-control form-control-sm"  id="ownerno" name="ownerno" th:value="${ownerVO.ownerno}" style=" width: 27%;" readonly></input>


      </div>
      <div>
        <!-- 첫 번째 select: 등급을 선택 -->
        <label for="gradeSelect">회원 등급:</label>
        <select name="grade" style="border: 1px solid black;" class="form-select form-select-lg mb-3" aria-label="Large select example" id="gradeSelect">
          <option th:selected="${ownerVO.grade == 1}" value="1">일반 회원</option>
          <option th:selected="${ownerVO.grade == 20}" value="10">미인증 회원</option>
          <option th:selected="${ownerVO.grade == 99}" value="99">탈퇴 회원</option>
        </select>
        <span id="grade_msg"></span>

      </div>







      <div class="form-group" style="margin-top: 10px;">
        <button type="button" class="btn btn-primary" onclick="return send()" id="btn_send">수정</button>
        <button type="button" class="btn btn-primary" onclick="location.href = '/';" id="btn_cancel">취소</button>
      </div>

    </form>
    <table class="table table-striped" style='width: 100%;'>
      <colgroup>
        <col style='width: 5%;'/>
        <col style='width: 10%;'/>
        <col style='width: 7%;'/>
        <col style='width: 13%;'/>
        <col style='width: 13%;'/>
        <col style='width: 30%;'/>
        <col style='width: 15%;'/>
        <col style='width: 13%;'/>
      </colgroup>
      <tr>
        <th class='th_bs'></th>
        <th class='th_bs'>ID</th>
        <th class='th_bs'>성명</th>
        <th class='th_bs'>휴대폰번호</th>
        <th class='th_bs'>회사번호</th>
        <th class='th_bs'>주소</th>
        <th class='th_bs'>등록일</th>
        <th class='th_bs'></th>
      </tr>

      <tr th:each="certifiVO, status:${list}">
        <td class='td_basic' th:text="${certifiVO.businessno}"></td>

        <td th:if="${certifiVO.certifi_image.endsWith('jpg') || certifiVO.certifi_image.endsWith('JPG') || certifiVO.certifi_image.endsWith('png') ||certifiVO.certifi_image.endsWith('PNG') || certifiVO.certifi_image.endsWith('gif')}">
          <!--/*@thymesVar id="certifi_image" type=""*/-->
          <img th:src="@{|/certifi/storage/${certifiVO.certifi_image}|}" style="width: 120px; height: 90px;">
        </td>

        <td th:if="${certifiVO.identi_card_image.endsWith('jpg') || certifiVO.identi_card_image.endsWith('JPG') || certifiVO.identi_card_image.endsWith('png') ||certifiVO.identi_card_image.endsWith('PNG') || certifiVO.identi_card_image.endsWith('gif')}">
          <img th:src="@{|/certifi/storage/${certifiVO.identi_card_image}|}" style="width: 120px; height: 90px;">
        </td>

        <td class='td_basic' th:text="${certifiVO.reg_date.substring(0, 10)}"></td>
        <td class='td_basic'>
          <a th:href="@{|./read?ownerno=${certifiVO.ownerno}|}"><img src='/member/images/update.png' title='수정' class="icon"></a>
          <a th:attr="onclick=|deletecustomer('${certifiVO.ownerno}')|"><img src='/member/images/delete.png' title='삭제' class="icon"></a>
          <a th:href="@{|./update_grade?ownerno=${certifiVO.ownerno}|}"><img src='/member/images/grade.png' title='등급 수정' class="icon"></a>
        </td>
      </tr>
    </table>
  </div>
</div>
